<div class="dialog-container">
  <div class="description-large">Connect to top talent agencies and get to work!</div>
  <div class="description-small">Search our database of talent agencies and start connecting! PopBookings agencies provide work opportunities for over 100,000 talented people just like you!</div>
  <div class="buttons-container">
    <button md-button class="btn-not" (click)="cancel()">NOT NOW</button>
    <button md-button class="btn-light-blue btn-connect" (click)="cancel()">CONNECT!</button>
  </div>
</div>
