/deep/.mat-dialog-container {
    padding: 0;
    max-width: 500px;
    border-radius: 6px;
    overflow: auto;
    user-select: none;
}
.dialog-container {
    padding: 20px;
}
.title {
    position: relative;
    padding: 10px 30px 25px 0;
    line-height: 36px;
    font-family: CircularStd;
    font-size: 28px;
    font-weight: bold;
    color: #484848;
    text-align: center;
}
.btn-download {
    position: absolute;
    top: 8px;
    right: 0;
}
.content {
    padding: 5px 0;
    height: 380px;
    line-height: 21px;
    font-family: SFUIDisplay;
    font-size: 15px;
    font-weight: bold;
    color: #484848;
    border-top: 1px solid #E1E1E3;
    border-bottom: 1px solid #E1E1E3;
    overflow: auto;
}
.buttons-wrapper {
    padding-top: 20px;
}
.buttons-wrapper button {
    width: calc(50% - 10px);
    height: 40px;
    font-family: SFUIText;
    font-size: 15px;
    letter-spacing: 1px;
}
.btn-disagree {
    margin-right: 16px;
    color: #727272;
    border: 1px solid #E6E6E8;
    background-color: #F9F9F9;
}
@media (min-width: 375px) {
    .buttons-wrapper button {
        height: 50px;
        font-size: 17px;
        letter-spacing: 3px;
    }
}
@media (min-width: 768px) {
    /deep/.mat-dialog-container {
        width: 500px;
    }
}
