<app-navbar [hasAccount]=true></app-navbar>
<div class="page-container">
  <div class="page-wrapper">
    <div class="signup">
      <a href="javascript:void(0)" class="help">?</a>
      <div class="step">STEP 6 OF 6</div>
      <div class="page-title">Help us find your jobs in your area.</div>
      <md-form-field>
        <input mdInput [(ngModel)]="myLocation" (keyup)="searchLocation()" placeholder="My Location" #search [formControl]="searchControl">
        <span class="btn-search" (click)="searchLocation()"></span>
      </md-form-field>
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
      <button md-button class="btn-light-red btn-work" [disabled]="!myLocation" (click)="router.navigate(['/jobboard', {pageHeaderVisible: true}])">LET'S GET TO WORK</button>
      <div class="btn-back" (click)="location.back()">BACK</div>
    </div>
  </div>
</div>
