.signup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 4px 0;
    max-width: 710px;
    max-height: 600px;
    width: 100%;
    background-color: white;
    border: 1px solid #E1E1E3;
    border-radius: 3px;
    text-align: center;
    user-select: none;
    overflow: auto;
}
.signup::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    background: linear-gradient(to right, #48B8F7 0%, #48B8F7 83.33%, #89D5FF 83.33%, #89D5FF 100%);
}
.signup .help {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #B7B6BC;
    border: 1px solid #B7B6BC;
    border-radius: 50%;
    text-decoration: none;
}
.signup .step {
    padding-top: 20px;
    font-family: SFUIText;
    font-size: 12px;
    color: #B7B6BC;
}
.signup .page-title {
    margin-right: auto;
    margin-left: auto;
    padding: 30px 0;
    max-width: 300px;
    line-height: 36px;
    font-family: CircularStd;
    font-size: 28px;
    font-weight: bold;
    color: #484848;
}
.signup md-form-field {
    display: block;
    position: relative;
    margin: auto;
    padding: 0 10px;
    max-width: 395px;
    width: 100%;
}
.signup md-form-field::before {
    content: "near_me";
    position: absolute;
    bottom: 22px;
    left: 20px;
    font-family: Material Icons;
    font-size: 16px;
}
input.mat-input-element {
    padding: 0 35px 0 30px;
}
/deep/.mat-form-field-placeholder {
    left: 30px !important;
}
.signup .btn-search {
    position: absolute;
    top: 0;
    right: 8px;
    width: 24px;
    height: 24px;
    color: #B7B6BC;
    transition: all 0.3s;
}
.signup .btn-search::before {
    content: "search";
    position: absolute;
    font-family: Material Icons;
    font-size: 22px;
}
.signup .btn-search:hover {
    cursor: pointer;
    color: #484848;
}
.signup agm-map {
    display: block;
    margin: 5px 0 25px;
    height: 240px;
}
.signup .btn-work {
    margin-bottom: 20px;
    width: 280px;
    height: 50px;
    line-height: 50px;
    font-family: SFUIText;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 3px;
}
.signup .btn-back {
    position: relative;
    font-family: SFUIText;
    font-size: 13px;
    color: #B7B6BC;
    transition: all 0.3s;
}
.signup .btn-back::before {
    content: "arrow_back";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -20px;
    font-family: Material Icons;
    font-size: 16px;
}
.signup .btn-back:hover {
    cursor: pointer;
    color: #484848;
}
