/deep/.mat-dialog-container {
    padding: 0;
    max-width: 500px;
    border-radius: 6px;
    overflow: auto;
    user-select: none;
}
.dialog-container {
    padding: 15px;
}
.title {
    position: relative;
    padding: 10px 30px 25px 0;
    line-height: 36px;
    font-family: CircularStd;
    font-size: 28px;
    font-weight: bold;
    color: #484848;
    text-align: center;
}
.help {
    position: absolute;
    top: 16px;
    right: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-family: SFUIText;
    font-size: 13px;
    color: #484848;
    border: 1px solid #484848;
    border-radius: 50%;
    text-decoration: none;
}
.content {
    padding: 20px 0;
    height: 380px;
    border-top: 1px solid #E1E1E3;
    border-bottom: 1px solid #E1E1E3;
    overflow: auto;
}
.summary-wrapper {
    padding: 10px;
    border: 1px solid #E1E1E3;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}
.job-title {
    padding-bottom: 5px;
    line-height: 20px;
    font-family: SFUIDisplay;
    font-size: 17px;
    font-weight: 600;
    color: #484848;
}
.job-other {
    line-height: 17px;
    font-family: SFUIDisplay;
    font-size: 11px;
    font-weight: 600;
    color: #979797;
}
.coverletter-label {
    padding: 20px 0 5px 10px;
    line-height: 14px;
    font-family: SFUIText;
    font-size: 12px;
    color: #979797;
}
.coverletter {
    padding: 5px 10px;
    min-height: 140px;
    line-height: 21px;
    font-family: SFUIDisplay;
    font-size: 13px;
    letter-spacing: -0.4px;
    color: #484848;
    border: 1px solid #E1E1E3;
    border-radius: 3px;
}
.agree-wrapper {
    position: relative;
    margin-top: 20px;
    padding-left: 30px;
    line-height: 20px;
    font-family: SFUIDisplay;
    font-size: 13px;
    color: #4D4D4D;
}
.btn-agree {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border: 1px solid #C8C7CC;
    border-radius: 50%;
    transition: all 0.3s;
}
.btn-agree:hover {
    cursor: pointer;
}
.btn-agree.checked {
    background-color: #48B8F7;
    border: none;
}
.btn-agree.checked::before {
    content: "\E5CA";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    line-height: 24px;
    font-family: Material Icons;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.buttons-wrapper {
    padding-top: 20px;
}
.buttons-wrapper button {
    padding: 0;
    width: calc(50% - 10px);
    height: 40px;
    font-family: SFUIText;
    font-size: 15px;
    letter-spacing: 1px;
}
.btn-cancel {
    color: #727272;
    background-color: #F9F9F9;
    border: 1px solid #E1E1E3;
}
.btn-apply {
    float: right;
}
@media (min-width: 512px) {
    .dialog-container {
        padding: 20px;
    }
    .buttons-wrapper button {
        height: 50px;
        font-size: 17px;
        letter-spacing: 3px;
    }
}
@media (min-width: 768px) {
    /deep/.mat-dialog-container {
        width: 500px;
    }
}
