<app-navbar [hasAccount]=true></app-navbar>
<div class="page-container">
  <div class="page-wrapper">
    <div class="signup">
      <a href="javascript:void(0)" class="help">?</a>
      <div class="padding-wrapper">
        <div class="step">STEP 1 OF 6</div>
        <div class="page-title">Ok {{userName}}, let's verify your mobile device.</div>
        <div>
          <div class="field-label">Select a Country</div>
          <md-select [(ngModel)]="country">
            <md-option *ngFor="let item of countryList" [value]="item.key">{{item.value}}</md-option>
          </md-select>
        </div>
        <md-form-field>
          <input mdInput type="text" [(ngModel)]="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number">
          <div class="btn-send">Send</div>
        </md-form-field>
        <input type="text" class="verify-code" [(ngModel)]="verifyCode" placeholder="0-0-0-0-0">
        <div class="hint-message">Enter 5-digit code you receive via SMS.</div>
        <button md-button class="btn-next" (click)="router.navigateByUrl('/signup-gender-birthday')">NEXT</button>
        <div class="btn-back" (click)="location.back()">BACK</div>
      </div>
    </div>
  </div>
</div>
