.signup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 4px 0;
    max-width: 710px;
    max-height: 600px;
    width: 100%;
    background-color: white;
    border: 1px solid #E1E1E3;
    border-radius: 3px;
    text-align: center;
    user-select: none;
    overflow: auto;
}
.signup::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    background: linear-gradient(to right, #89D5FF 0%, #89D5FF 16.66%, #E1E1E3 16.66%);
}
.signup .help {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #B7B6BC;
    border: 1px solid #B7B6BC;
    border-radius: 50%;
    text-decoration: none;
}
.signup .padding-wrapper {
    padding: 0 10px;
    width: 100%;
}
.signup .step {
    padding-top: 20px;
    font-family: SFUIText;
    font-size: 12px;
    color: #B7B6BC;
}
.signup .page-title {
    padding: 30px 0 70px;
    line-height: 36px;
    font-family: CircularStd;
    font-size: 28px;
    font-weight: bold;
    color: #484848;
}
.signup .field-label {
    padding-left: 15px;
    font-family: SFUIText;
    font-size: 12px;
    color: #979797;
    text-align: left;
}
.signup .mat-select {
    position: relative;
    padding: 0;
    width: 100%;
    background-color: #F9F9F9;
    border: 1px solid #E1E1E3;
    border-radius: 3px;
}
.signup .mat-select::after {
    content: "\E313";
    position: absolute;
    top: 0;
    right: 5px;
    font-family: Material Icons;
    font-size: 24px;
    color: #979797;
}
/deep/.signup .mat-select-trigger {
    height: 34px;
}
/deep/.signup .mat-select-value {
    padding: 0 30px 0 10px;
    font-family: SFUIDisplay;
    font-size: 15px;
    font-weight: 600;
    color: #484848;
}
/deep/.signup .mat-select-arrow {
    border: none !important;
}
/deep/.signup .mat-select-underline {
    display: none !important;
}
.signup md-form-field {
    margin-top: 30px;
    width: 100%;
}
.signup md-form-field .btn-send {
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-family: SFUIDisplay;
    font-size: 15px;
    color: #FC5A93;
}
.signup md-form-field .btn-send:hover {
    cursor: pointer;
    color: red;
}
.signup .verify-code {
    margin: 15px 0 30px;
    width: 170px;
    height: 50px;
    line-height: 50px;
    background-color: #F9F9F9;
    border: 1px solid #E1E1E3;
    border-radius: 3px;
    font-family: CircularStd;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #484848;
    text-align: center;
}
.signup .verify-code::-webkit-input-placeholder {
    color: #B7B6BC;
}
.signup .verify-code:focus::-webkit-input-placeholder {
    visibility: hidden;
}
.signup .verify-code:-webkit-autofill {
    box-shadow: 0 0 0 50px #F9F9F9 inset !important;
}
.signup .hint-message {
    font-family: SFUIText;
    font-size: 12px;
    color: #979797;
}
.signup .btn-next {
    margin: 30px 0 20px;
    width: 280px;
    height: 50px;
    line-height: 50px;
    font-family: SFUIText;
    font-size: 15px;
    letter-spacing: 1px;
    color: #484848;
    background-color: #F9F9F9;
    border: 1px solid #E1E1E3;
    border-radius: 3px;
}
.signup .btn-back {
    position: relative;
    font-family: SFUIText;
    font-size: 13px;
    color: #B7B6BC;
    transition: all 0.3s;
}
.signup .btn-back::before {
    content: "\E5C4";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -20px;
    font-family: Material Icons;
    font-size: 16px;
}
.signup .btn-back:hover {
    cursor: pointer;
    color: #484848;
}
@media (min-width: 512px) {
    .signup .padding-wrapper {
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        width: 375px;
    }
}
