.booking-calendar {
    background-color: white;
    border: 1px solid #E1E1E3;
    border-radius: 3px;
}
.calendar-header {
    position: relative;
    height: 50px;
    line-height: 50px;
    font-family: SFUIDisplay;
    font-size: 17px;
    color: #FC5A93;
    border-bottom: 1px solid #E1E1E3;
    text-align: center;
}
.calendar-header .month {
    font-weight: bold;
    text-transform: uppercase;
}
.calendar-header .btn-prev,
.calendar-header .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.calendar-header button .mat-icon {
    width: 40px;
    font-size: 36px;
    color: #979797;
}
.calendar-header .btn-prev {
    left: 5px;
}
.calendar-header .btn-next {
    right: 5px;
}
.calendar-body table {
    margin-bottom: 20px;
    width: 100%;
    font-family: SFUIDisplay;
    font-size: 16px;
    color: #484848;
}
.calendar-body tr {
    width: 100%;
    height: 50px;
}
.calendar-body th,
.calendar-body td {
    position: relative;
    width: 14.28%;
    text-align: center;
}
.calendar-body td {
    transition: 0.2s;
}
.calendar-body td:hover {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 6px;
}
.calendar-body .day {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 36px;
}
.calendar-body .day.outside {
    opacity: 0.25;
}
.calendar-body .day .top,
.calendar-body .day .bottom {
    position: relative;
    height: 8px;
}
.calendar-body .day.travel-start .top {
    background: url("../../../assets/images/travel-start-icon-small.png") no-repeat;
    background-position: center;
}
.calendar-body .day.travel-end .top {
    background: url("../../../assets/images/travel-end-icon-small.png") no-repeat;
    background-position: center;
}
.calendar-body .day .top .left,
.calendar-body .day .top .right {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 2px;
    background-color: #86D4C5;
}
.calendar-body .day .top .left {
    left: 0;
    right: 50%;
}
.calendar-body .day .top .right {
    left: 50%;
    right: 0;
}
.calendar-body .day.travel .top .left,
.calendar-body .day.travel .top .right {
    display: initial;
}
.calendar-body .day.travel-end .top .left {
    display: initial;
    margin-right: 4px;
}
.calendar-body .day.travel-start .top .right {
    display: initial;
    margin-left: 7px;
}
.calendar-body .day .center {
    position: relative;
    height: 20px;
    line-height: 20px;
    font-weight: 600;
}
.calendar-body .day.offline .center {
    color: #979797;
}
.calendar-body .day.offline .center::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 30px;
    height: 2px;
    background-color: #979797;
}
.calendar-body .day .bottom .pending,
.calendar-body .day .bottom .booked,
.calendar-body .day .bottom .invited {
    display: none;
    margin-bottom: 8px;
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
}
.calendar-body .day.pending .bottom .pending {
    display: inline-block;
    background-color: #979797;
}
.calendar-body .day.booked .bottom .booked {
    display: inline-block;
    background-color: #FC5A93;
}
.calendar-body .day.invited .bottom .invited {
    display: inline-block;
    border: 2px solid #FC5A93;
}
