/deep/.mat-dialog-container {
    padding: 0;
    max-width: 500px;
    border-radius: 6px;
    overflow: auto;
    user-select: none;
}
.dialog-container {
    padding: 15px;
    text-align: center;
}
.icon {
    margin: 20px 0;
    width: 60px;
    height: 60px;
}
.title {
    line-height: 36px;
    font-family: SFUIDisplay;
    font-size: 28px;
    font-weight: 600;
}
.description {
    padding: 20px 0;
    line-height: 24px;
    font-family: SFUIDisplay;
    font-size: 17px;
    color: #727272;
    text-align: left;
}
/deep/.description b {
    color: initial !important;
}
.buttons-wrapper {
    padding-top: 20px;
    border-top: 1px solid #E1E1E3;
}
.btn-ok {
    width: 220px;
    height: 50px;
    font-family: SFUIText;
    font-size: 17px;
    letter-spacing: 1px;
    color: #727272;
    background-color: #F9F9F9;
    border: 1px solid #E1E1E3;
}
@media (min-width: 512px) {
    .dialog-container {
        padding: 20px;
    }
}
@media (min-width: 768px) {
    /deep/.mat-dialog-container {
        width: 500px;
    }
}
